/*Colores o Imágenes de Background*/
$color-background-general: rgb(110, 110, 110);
$color-background-footer: rgb(242, 235, 240);

/*Colores de Fuente*/
$color-fuente-menu: #4b4848;
$color-fuente-detalles: rgb(255, 255, 255);
$color-fuente-textos: rgb(202, 202, 202);


/*Tamaños de Fuente*/
$font-size-general: 1.3em;
$font-size-textos: 1.4em;



